<style>
    .ballsTeacher {
        border: 1px solid gainsboro !important;
        min-width: 3rem !important;
        min-height: 3rem !important;
        width: 3rem !important;
        height: 3rem !important;
        text-align: center !important;
        border-radius: 5px !important;
        font-size: 150% !important;
        margin: 10px 10px !important;
    }
</style>
<div class="base">
    <form class="form">
        <div class="base-box">
            <label>
                <span>Тестирование</span>
                <select name="test" id="test">
                    <option value="0" selected>Выберите тест</option>
                    {% for test in tests %}
                        <option id="select_{{ test.test_id }}" year="{{ test.year_id }}"
                                subject="{{ test.subject_code }}" value="{{ test.test_id }}"> {{ test.year }}
                            - {{ test.subject }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="rating-box mx-1 mt-1" id="cards">

        </div>
        <div class="el-content">
            <input type="text" placeholder="1" max="1" elementid="1" class="ballsTeacher"
                   autocomplete="off"
                   onkeypress="return   event.charCode < 50 &amp;&amp; this.value.length <1 " value="0">

            <input type="text" placeholder="2" max="1" elementid="2" class="ballsTeacher"
                   autocomplete="off"
                   onkeypress="return   event.charCode < 50 &amp;&amp; this.value.length <1 " value="0">

            <input type="text" placeholder="3" max="2" elementid="3" class="ballsTeacher"
                   autocomplete="off"
                   onkeypress="return   event.charCode < 51 &amp;&amp; this.value.length <1 " value="0">

            <input type="text" placeholder="4" max="1" elementid="4" class="ballsTeacher"
                   autocomplete="off"
                   onkeypress="return   event.charCode < 50 &amp;&amp; this.value.length <1 " value="0">

            <input type="text" placeholder="5" max="4" elementid="5" class="ballsTeacher"
                   autocomplete="off"
                   onkeypress="return   event.charCode < 53 &amp;&amp; this.value.length <1 " value="4">

            <input type="text" placeholder="6" max="1" elementid="6" class="ballsTeacher"
                   autocomplete="off"
                   onkeypress="return   event.charCode < 50 &amp;&amp; this.value.length <1 " value="1">
        </div>
    </form>
</div>

{% block js %}
    <script>
        const testsElement = $('#test');
        testsElement.on('change', function () {
            if (testsElement.val() != 0) {
                getParticipants(testsElement.val()).then(function (res) {
                    if (res.length > 0) {
                        res.map(function (x) {
                            $('#cards').html(renderName(x)).after(function () {
                                setHandler(x);
                                let elem = $(`#select_${testsElement.val()}`);
                                getTest(elem.attr('year'), elem.attr('subject'), x.code).then(function (result) {
                                    $(`#accord_${x.code}`).append(`<div class="accordion-content"> ${result} </div>`);
                                })
                            });
                        });
                    } else {
                        $('#cards').html('<h4>Ничего не найдено</h4>')
                    }
                })
            } else {
                $('#cards').html('');
            }
        });

        function renderName(x) {
            return `<div class="accordion name" id="accord_${x.code}">
                    <div class="accordion-name" id="block_${x.code}">
                        <p class="small font-weight-normal text-uppercase lts-2px"
                           style="cursor: pointer;"><b>${x.surname} ${x.name} ${x.secondname}</b>
                        </p>
                    </div>

                </div>`
        }

        function getSubs(id) {

        }

        function setHandler(x) {
            $(`#block_${x.code}`).on('click', function (e) {
                e.preventDefault();
                $(this).closest('.accordion').toggleClass('active');
                $(this).closest('.accordion').find('.accordion-content').stop().slideToggle(500);
            })
        }
    </script>
{% endblock %}
